
html {
    scroll-behavior: smooth;
}
/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #1d2747;
    color: #ff69b4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    text-align: center;
    line-height: 26px;
}

header {
    width: 100%;
    max-width: 1440px;
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ff69b4;
    box-sizing: border-box; /* Учитываем паддинги при расчете ширины */
    position: fixed;
}
.hidden{
    height: 60px;
}
.logo {
    font-size: 1.2rem;
    color: #ff69b4;
    text-shadow: 0 0 10px #ff69b4, 0 0 20px #00bfff;
}

.nav a {
    margin-left: 15px;
    color: #00bfff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 0.9rem;
}

.nav a:hover {
    color: #ff69b4;
}

.lang-switcher {
    display: flex;
    gap:10px;
    
}

.lang-switcher button {
    background-color: #ff69b4;
    color: #0a0f20;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.lang-switcher button:hover {
    background-color: #00bfff;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}
/* Маскот */
.container .hero {
    padding: 70px 20px;
    background: #0a0f20;
    color: #fff;
    text-shadow: 0 0 10px #ff69b4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 50px;
}

.container .hero p {
    font-size: 1rem;
    margin-bottom: 30px;
}

.container .hero-image img {
    max-width: 40%;
    height: auto;
}

.btn {
    background-color: #ff69b4;
    color: #0a0f20;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #ff69b4;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #00bfff;
    color: #0a0f20;
    border-color: #00bfff;
    box-shadow: 0 0 15px #00bfff, 0 0 25px #ff69b4;
}

/* Секция */
.section {
    width: 100%;
    max-width: 90%;
    background: linear-gradient(135deg, #0a0f20, #9c4673);
    color: #fff;
    padding: 50px 20px;
    margin: 20px 0;
    text-shadow: 0 0 5px #00bfff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #ff69b4;
}

.section .content-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section .content, .section .image {
    width: 30%;
}
.section .contacts{
    width: 100%;
}
.section img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}



.footer {
    padding: 10px 0;
    background-color: #0a0f20;
    color: #fff;
    font-size: 0.8rem;
    border-top: 2px solid #ff69b4;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.contacts a {
    color: #6c757d;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contacts a:hover {
    color: #00bfff;
}

/* Социальные ссылки */
.social {
    color: #223545;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social:hover {
    color: #ff69b4;
}
@media (max-width: 768px) {
    .section .content, .section .image {
        width: 100%;
    }
}